# This is an example environment file sourced in the Makefile and related scripts.
# Copy this to atlas.env and customise.

if test "$1" = -d
then
	unset AWS_PROFILE ATLAS_USER COMPOSE_PROJECT_NAME
else
	export AWS_PROFILE=dp-sandbox
	export ATLAS_USER=dl
	export COMPOSE_PROJECT_NAME=atlas-$ATLAS_USER
fi
